*,
*:focus,
*:active {
  border: 0;
  outline: 0 !important;
}
body {
  overflow-x: hidden;
  color: var(--black);
  scroll-behavior: smooth;
  touch-action: pan-y;
}

::-webkit-scrollbar {
  width: 0.6rem;
}
::-webkit-scrollbar-thumb {
  background: rgb(187, 187, 187);
}
.backdrop {
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  z-index: 1200;
  left: 0;
  background: #00000055;
}
p {
  line-height: 1.75;
}

.inLink {
  font-weight: 400;
  color: #2c7bbd;
}
body.dark .inLink {
  color: #6cf;
}
body.dim .inLink {
  color: #6cf;
}
a:hover {
  text-decoration: none !important;
}
.btn-fav {
  background: linear-gradient(to right, #f10, #ffa500);
  color: #fff !important;
  white-space: nowrap;
  transition: all 0.3s;
}
.btn-fav:hover {
  background: linear-gradient(to right, #f50, #fc1);
  color: #fff !important;
}

h5,
h4 {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 600;
  color: var(--black);
}

h3,
h2 {
  text-transform: capitalize;
  font-family: "Architects Daughter", cursive;
  font-weight: bolder;
  color: var(--black);
}

h1 {
  font-family: "Gochi Hand", cursive;
  font-size: 38px;
  color: var(--black);
}

::-moz-selection {
  background: var(--primary);
  text-shadow: none;
}
::selection {
  background: var(--primary);
  text-shadow: none;
  color: #fff;
}
img::-moz-selection {
  background: 0 0;
}
img::selection {
  background: 0 0;
}
img::-moz-selection {
  background: 0 0;
}
.btn,
a {
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  font-weight: 700;
}
